# Put this file on your server at /etc/systemd/system/databreach_step3.service

#sudo systemctl daemon-reload
#sudo systemctl enable databreach_step3
#sudo systemctl start databreach_step3
#sudo systemctl status databreach_step3
# For logs:
#sudo tail -f /var/log/databreach_step3.service.log
#sudo tail -f /var/log/databreach_step3_error.log

[Unit]
Description=Agentic AI FastAPI Gunicorn Agentic AI Data Breach Management Step2
After=network.target

[Service]
# Adjust these:
User=cybersecai
WorkingDirectory=/home/cybersecai/htdocs/www.cybersecai.io/fastapi-services/databreachmgmt
Environment=OPENAI_API_KEY=${OPENAI_API_KEY}
Environment="PATH=/home/cybersecai/htdocs/www.cybersecai.io/webhook/venv/bin"

# Activate your venv if you use one (recommended):
ExecStart=/home/cybersecai/htdocs/www.cybersecai.io/webhook/venv/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker -b 127.0.0.1:8302 databreach_step3:app --timeout 1500

# Logging
StandardOutput=append:/var/log/databreach_step3.log
StandardError=append:/var/log/databreach_step3_error.log

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
